.footer-container
    text-align: center

    .footer__mailto,
    .footer__linkedin
        width: 50px
    
    .footer__links-container
        display: flex

.footer__link:nth-child(1)
    border-right: 2px solid $secondary-color
    
.footer__link
    padding: 0 30px