$primary-color: #3F3E45
$secondary-color: #D3EBE8
$tertiary-color: #d6beb5
$quarternary-color: #92969b
$quinary-color: #683D40

$primary-font: 'Nunito', sans-serif

$h1-size: 36px
    
body
    background: $primary-color
    color: $secondary-color
    max-width: 1200px
    margin: auto
    font-family: $primary-font
    padding: 0 20px

    a
        color: $secondary-color
        text-decoration: none

    p
        font-size: $h1-size
