body {
  margin: 0;
}

.name {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0 5px 20px;
  font-family: 'staatliches', cursive;
  color: #edebe1;
  transition: 0.5s ease-out;
  white-space: nowrap;
}

.job-description {
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  margin: 5px 0 10px 20px;
  font-family: 'staatliches', cursive;
  color: #edebe1;
  order: 3;
  transition: 0.5s ease-out;
  white-space: nowrap;
}

.header-container {
  border-bottom: 2px solid #edebe1;
  display: flex;
  background-color: #41465B;
  height: 100px;
  transition: 0.5s ease-out;
}

.icon {
  /* width: 20%; */
  margin: 1px 1px 1px 20px;
  font-size: 80px;
}

.user-logo {
  margin: 1px;
}

.main-text {
  font-size: 25px;
  font-family: 'marcellus', serif;
  color: #edebe1;
  margin: 10px 20px 30px 20px;
}

.link {
  border-radius: 20px;
  color: #EDEBE1;
  transition: letter-spacing 2s ease-in, background-color 2s ease-out;
}

.link:hover {
  border-radius: 20px;
  background-color: #8398a7;
  letter-spacing: 2px;
}

.project {
  text-align: center;
  margin: 0 0 30px;
}

.project-pic {
  box-shadow: 10px 15px 30px #000000;
  border: 10px solid #edebe1;
}

.project-pic:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.upper-main {
  margin: 0 0 30px;
}

.mid-main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-header {
  color: #edebe1;
  font-family: 'staatliches', cursive;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

.footer-images {
  display: flex;
  justify-content: space-evenly;
}

.caption {
  margin: 25px 0;
  text-align: center;
  font-family: 'staatliches', cursive;
  font-size: 40px;
  color: #edebe1;
}

.contact-me {
  margin: 10px 0 2px;
  font-size: 50px;
}

.github {
  margin: 0 0 30px;
  font-family: 'marcellus', serif;
  font-size: 25px;
  color: #edebe1;
}

header.scrolled {
  height: 50px;
}

header.scrolled .name {
  font-size: 25px;
}

header.scrolled .header-container {
  height: 50px;
}

header.scrolled .job-description {
  font-size: 15px;
  margin: 0 0 0 20px;
}

header.scrolled .icon {
  display: none;
}

header.scrolled .job-description, header.scrolled .name {
  display: inline;
  margin: 20px;
}

header.scrolled .header {
  width: 100%;
  display: flex;
  align-items: center;
}

body {
  background-color: #41465B;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

footer {
  border-top: 2px solid #edebe1;
}

main {
  background-color: inherit;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  /* For iPad-Size devices */
  .main-text {
    font-size: 40px;
  }
  .header-container {
    height: 150px;
    transition: 0.1s ease-out;
  }
  .name {
    font-size: 60px;
  }
  .job-description {
    font-size: 40px;
  }
  .icon {
    margin-left: 60px;
    font-size: 120px;
  }
  .footer-images {
    justify-content: center;
  }
  header.scrolled .header-container {
    height: 75px;
  }
  header.scrolled .name {
    font-size: 40px;
  }
  header.scrolled .job-description {
    font-size: 25px;
  }
  main {
    padding-top: 152px;
  }
  .mid-main {
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  /* For low-res laptop / landscape tablet devices */
  .main-text {
    margin: 20px;
  }
  .upper-main {
    margin-bottom: 50px;
  }
  .mid-main {
    margin: 15px;
  }
  .project {
    margin: 0 30px 20px 0;
  }
  .footer-images {
    margin: 1px;
  }
  .container {
    width: 1280px;
    margin: 0 auto;
  }
  .header-container {
    width: 1280px;
    margin: 0 auto;
  }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
